@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.rating {
    font-size: 90px;
    font-family: Anton;
    font-weight: 800px;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 140px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: transparent;
    text-shadow:
		-1px -1px 0  white,
		1px -1px 0  white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.rate{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative; 
    top: 40px;
    color: white; 
}

.a {
    color: #0e63eb;
}

.b {
    color: #10c93b;
}

.c {
    color: #c7c714;
   
}

.d {
    color: #b05e0c;
}

.f {
    color: #b51616;
    
}
