.card {
    min-width: 250px;
    width: 250px;
    margin: 10px;
    display: flex;
  }

.cardbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
