#title{
  text-align: center;
  color:white; 
  font-size: 80px;
  margin-top: 15px;
  margin: auto;
  margin-bottom: 50px;
/*   
  color: #FFFFFF;;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -5px 40px #F00; */

}

main > * {
  position: relative;
  display: table;
}

main > *::before {
  content: "";
  width: calc(100% + 20px);
  position: absolute;
  bottom: 0;
  left: -10px;
  height: .5em;
  background-color: #000;
  z-index: -1;
}

main > *:not(:last-child) {
  margin-bottom: 15px;
}

.card1{
  text-align: center;
}
