
.card {
  width: 260px;
  margin: 5px;
}

.cardbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.Heading{
  text-align: left;
  color: blue;
}

.card1{
  text-align: center;
}