
.card {
  width: 260px;
  margin: 5px;
}

.cardbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.Heading{
  text-align: left;
  color: blue;
}
p{
  color:black;
  text-align: center;
  padding: 55px;
  width: 200px;
}
